<% if flash[:notice] %>
  <h3><%= flash[:notice] %></h3>
  <br>
<% end %>

<div class='sign_in_bts'>
<% if session['twitter_signed_in'] %>
  <h3>Signed in to Twitter!</h3>
<% else %>
  <form class='sign_in_bt' action='/auth/twitter' method='get'>
    <input class='twitter-sign-in' type="submit" value="">
  </form>
<% end %>

<% if session['spotify_signed_in'] %>
  <h3>Signed in to Spotify!</h3>
<% else %>
  <form class='sign_in_bt' action='/auth/spotify' method='get'>
    <input class='spotify-sign-in' type="submit" value="">
  </form>
<% end %>

<% if session['twitter_signed_in'] || session['spotify_signed_in'] %>
  <form class='sign_in_bt' action='/signout' method='get'>
    <button class='btn btn-primary' type='submit'>Sign out</button>
  </form>
<% end %>
</div>

<% if (session['twitter_signed_in'] && session['spotify_signed_in'] %>
 <form role="form" action='/create_playlist' method='get'>
    <div class="form-group">
      <label for="name">Playlist name:</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="Enter playlist name">
    </div>
    <div class="radio">
      <label><input type="radio" name="random" value="top">Top tracks</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="random" value="random">Random top tracks</label>
    </div>
    <%#<div class="radio">%>
      <%#<label><input type="radio" name="random" value="super_random">Random track from random album (might take a while)</label>%>
    <%#</div>%>
    <input class='create-spotify' type="submit" value="">
  </form>
  <br>
<% end %>
<style>
.sign_in_bts{
  margin-left: 397px;
}
form.sign_in_bt {
} 
</style>
