<% if flash[:notice] %>
  <h3 class="alert alert-info" role="alert"><%= flash[:notice] %></h3>
  <br>
<% end %>

<div class='sign_in_bts'>
<% if session['twitter_signed_in'] %>
  <h2 class="sign_in_msg"><span class="label label-default">Signed in to Twitter!<span></h2>
<% else %>
  <form class='sign_in_bt' action='/auth/twitter' method='get'>
    <input class='twitter-sign-in' type="submit" value="">
  </form>
<% end %>

<% if session['spotify_signed_in'] %>
  <h2 class="sign_in_msg"><span class="label label-default">Signed in to Spotify!</span></h2>
<% else %>
  <form class='sign_in_bt' action='/auth/spotify' method='get'>
    <input class='spotify-sign-in' type="submit" value="">
  </form>
<% end %>

<% if session['twitter_signed_in'] || session['spotify_signed_in'] %>
  <form class='sign_out_bt' action='/signout' method='get'>
    <button class='signout_bt btn btn-primary' type='submit'>Sign out</button>
  </form>
<% end %>
</div>

<% if session['twitter_signed_in'] && session['spotify_signed_in'] %>
  <form class="create_playlist" role="form" action='/create_playlist' method='get'>
    <div class="form-group">
      <input type="text" class="form-control" id="name" name="name" placeholder="Playlist name">
    </div>
    <div class="radio">
      <label><input type="radio" name="random" value="top">Top tracks</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="random" value="random">Random top tracks</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="random" value="super_random">Random tracks from random albums</label>
    </div>
    <input class='create-spotify' type="submit" value="">
  </form>
  <br>
<% end %>

<script type="text/javascript">
$('form.create_playlist').submit(function(e){
  if (!$('input.form-control').val()) {
    alert("enter a name for your playlist!");
    return false;
  }
})

</script>
<style>
.sign_in_bts {
  margin-left: 397px;
}

.sign_in_msg {
  display: inline-block;
  padding-left: 60px;
  padding-top: 20px;
}

.signout_bt {
  margin-left: 22px;
}

.alert {
  width: 595px;
  margin-left: 20px;
  text-align: center;
}
</style>
